<div>
    <a id="nav-your-account" href="" class="nav_a nav-button-outer nav-button-ellipsis nav-menu-active" alt="Your Account" data-nav-tabindex="13" tabindex="1">
            <span id="nav-signin-title" class="nav-button-title nav-button-line1" ng-click="signin()">
              Hello,
              <span id="nav-signin-text" class="nav-button-em" > {{account.name}}</span>
            </span>
        <span class="nav-button-title nav-button-line2">Your Account<span class="nav-down-arrow"></span></span>
    </a>

    <span class="nav-divider"></span>
    <a id="nav-your-prime" href="/gp/prime/ref=nav_prime_join" class="nav_a nav-button-outer nav-menu-active" alt="Try Prime" data-nav-tabindex="14" tabindex="1">
        <span class="nav-button-title nav-button-line1">Try</span>
        <span class="nav-button-title nav-button-line2">Prime<span class="nav-down-arrow"></span></span>
    </a>

    <span class="nav-divider"></span>
    <a id="nav-cart" href="http://www.amazon.ca/gp/cart/view.html/ref=nav_cart" class="nav_a nav-button-outer nav-menu-active" alt="Shopping Cart" data-nav-tabindex="15" tabindex="1">
        <span class="nav-button-title nav-button-line1"> </span>
        <span class="nav-button-title nav-button-line2">Cart<span class="nav-down-arrow"></span></span>
        <span class="nav-cart-button nav-sprite"></span>
        <span id="nav-cart-count" class="nav-cart-0">1</span>
    </a>

    <span class="nav-divider"></span>
    <a id="nav-wishlist" href="http://www.amazon.ca/gp/registry/wishlist/ref=nav_wish_list" class="nav_a nav-button-outer nav-menu-active" alt="Wish List" data-nav-tabindex="16" tabindex="1">
        <span class="nav-button-title nav-button-line1">Wish</span>
        <span class="nav-button-title nav-button-line2">List<span class="nav-down-arrow"></span></span>
    </a>
</div>