<div class="header">
    <div ng-include="'views/partialviews/navigationbar.html'"
         ng-controller="NavigationBarController"></div>
    <!--<ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="home">Home</a></li>
        <li><a ng-href="search">Search</a></li>
        <li><a ng-href="#">Contact</a></li>
        <li><a ng-href="#">About</a></li>
    </ul>-->

    <div ng-include="'views/partialviews/searchbar.html'"
         ng-controller="SearchBarController"></div>
</div>
