
    <div id="nav-cross-shop" class="nav-xshop-large">


        <div id="nav-logo" class="nav-logo">
            <a href="/ref=nav_logo" class="nav-logo-link" data-nav-tabindex="1" tabindex="1">
                <span class="nav-logo-base nav-sprite">SmartBuy</span>
                <span class="nav-logo-ext nav-sprite"></span>
                <span class="nav-logo-locale nav-sprite"></span>
            </a>
        </div>

        <div id="nav-cross-shop-content">
            <div id="nav-cross-shop-links">
                <div ng-repeat="item in crossShopLinks">
                    <a href="{{item.href}}" class="nav_a" >{{item.text}}</a>
                </div>
            </div>
        </div>


        <div id="welcomeRowTable" style="height:50px">
            <div id="nav-ad-background-style" style="background-position: -800px 0px; background-image: url(http://g-ecx.images-amazon.com/images/G/15/img13/amazonPrime/6-21_amazon-ca-prime_ENGV2_other._V342598217_.jpg);  height: 56px; margin-bottom: -6px; position: relative;background-repeat: no-repeat;">
                <div id="navSwmSlot">
                    <div id="navSwmHoliday" style="background-image: url(http://g-ecx.images-amazon.com/images/G/15/img13/amazonPrime/6-21_amazon-ca-prime_ENGV2_other._V342598217_.jpg); width: 300px; height: 50px; overflow: hidden;"><img alt="Amazon Prime" src="http://g-ecx.images-amazon.com/images/G/15/x-locale/common/transparent-pixel._V386942483_.gif" border="0" width="300px" height="50px" usemap="#nav-swm-holiday-map"></div><div style="display: none;"><map id="nav-swm-holiday-map" name="nav-swm-holiday-map"><area shape="rect" coords="1,2,300,50" href="/gp/prime/ref=nav_swm_prime?pf_rd_m=A3DWYIK6Y9EEQB&amp;pf_rd_s=nav-sitewide-msg&amp;pf_rd_r=14B4CCV6F12T2JHH2JT5&amp;pf_rd_t=4201&amp;pf_rd_p=2006289062&amp;pf_rd_i=navbar-4201" alt="Amazon Prime"></map></div>
                </div>
            </div>
        </div>
        <div id="nav_flyout_anchor">
            <div id="nav_wishlist_flyout" class="nav-flyout-content nav-flyout nav-flyout-menu nav-full nav-ajax-success" style="position: absolute; top: 52px; left: 1043px; display: none;">
                <div class="nav-ajax-message"></div>
                <ul class="nav_dynamic nav_pop_ul nav_divider_after">
                    <li class="nav_pop_li">    <a href="/gp/registry/wishlist/2VD4PTT8FTRJO/ref=topnav_lists_1" class="nav_a">      Wish List    </a>    <div class="nav_tag">      <!-- TODO this logic should now be in dynamic-wish-list.mi -->              1 item          </div>  </li></ul>
                <ul class="nav_pop_ul">
                    <li class="nav_first nav_pop_li nav-dynamic-empty"><a href="/gp/registry/wishlist/ref=nav_wishlist_gno_createwl?ie=UTF8&amp;triggerElementID=createList" class="nav_a">Create a Wish List</a></li><li class="nav_pop_li"><a href="/gp/registry/search.html/ref=nav_wishlist_gno_listpop_find?ie=UTF8&amp;type=wishlist" class="nav_a">Find a Wish List</a></li><li class="nav_taglined nav_pop_li"><a href="/wishlist/universal/ref=nav_wishlist_gno_listpop_uwl" class="nav_a">Wish from Any Website</a><div class="nav_tag">Add items to your List from anywhere</div></li><li class="nav_last nav_pop_li"><a href="/gp/registry/baby/ref=nav_wishlist_gno_listpop_br" class="nav_a">Baby Registry</a></li>
                </ul>
                <div class="nav-arrow" style="position: absolute; left: 212.984375px;">
                    <div class="nav-arrow-inner"></div>
                </div>
            </div>
        </div>
    </div>
